<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>룰루랄라</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>나는야 {{ user.username }}</p>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
        {% csrf_token %} <input type="hidden" />
    </form>
    
    <a href="{% url 'mypage' %}">마이페이지</a>
    <a href="{% url 'post' %}">게시판으로</a>

    {% else %}
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}
        


</body>
</html>